.top-bar {
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0 20px;
  line-height: 1;

  &>* {
    display: flex;
    align-items: center;
    height: 40px;
  }

  .left {
    .logo {
      height: inherit;
      width: auto;
      filter: drop-shadow(1px 1px 10px #000);
    }
  }

  .right {
    .nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .li {
        margin-left: 10px;
        color: #fff;
        filter: drop-shadow(1px 1px 5px #000);
      }
    }
  }
}